:root,
.light,
.light-theme {
  --blue-1: #fbfcff;
  --blue-2: #f6f9fd;
  --blue-3: #ebf1fb;
  --blue-4: #e1eaf7;
  --blue-5: #d6e1f3;
  --blue-6: #cad8ed;
  --blue-7: #b9cae5;
  --blue-8: #9fb5d9;
  --blue-9: #62799d;
  --blue-10: #556c8f;
  --blue-11: #51678a;
  --blue-12: #1f2a3c;

  --blue-a1: #0040ff04;
  --blue-a2: #0055c709;
  --blue-a3: #004dcc14;
  --blue-a4: #004dbb1e;
  --blue-a5: #0045b529;
  --blue-a6: #0044a935;
  --blue-a7: #003ea146;
  --blue-a8: #003b9b60;
  --blue-a9: #0026609d;
  --blue-a10: #002357aa;
  --blue-a11: #002054ae;
  --blue-a12: #000d21e0;

  --blue-contrast: #fff;
  --blue-surface: #f4f8fdcc;
  --blue-indicator: #62799d;
  --blue-track: #62799d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --blue-1: oklch(99.2% 0.0032 259.2);
      --blue-2: oklch(98.1% 0.0063 259.2);
      --blue-3: oklch(95.8% 0.0142 259.2);
      --blue-4: oklch(93.3% 0.0208 259.2);
      --blue-5: oklch(90.7% 0.027 259.2);
      --blue-6: oklch(87.7% 0.0335 259.2);
      --blue-7: oklch(83.5% 0.042 259.2);
      --blue-8: oklch(76.9% 0.0567 259.2);
      --blue-9: oklch(57.2% 0.0622 259.2);
      --blue-10: oklch(52.7% 0.0622 259.2);
      --blue-11: oklch(51.2% 0.0622 259.2);
      --blue-12: oklch(28.4% 0.0362 259.2);

      --blue-a1: color(display-p3 0.0235 0.2667 1 / 0.016);
      --blue-a2: color(display-p3 0.0196 0.2667 0.7569 / 0.032);
      --blue-a3: color(display-p3 0.0078 0.2706 0.7412 / 0.075);
      --blue-a4: color(display-p3 0.0039 0.2549 0.6824 / 0.11);
      --blue-a5: color(display-p3 0.0039 0.2314 0.6431 / 0.153);
      --blue-a6: color(display-p3 0.0078 0.2275 0.6039 / 0.197);
      --blue-a7: color(display-p3 0.0039 0.1961 0.5843 / 0.263);
      --blue-a8: color(display-p3 0.0039 0.1882 0.5569 / 0.361);
      --blue-a9: color(display-p3 0 0.1137 0.3373 / 0.597);
      --blue-a10: color(display-p3 0 0.1059 0.302 / 0.648);
      --blue-a11: color(display-p3 0 0.102 0.2941 / 0.667);
      --blue-a12: color(display-p3 0 0.0392 0.1176 / 0.871);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9608 0.9725 0.9922 / 0.8);
      --blue-indicator: oklch(57.2% 0.0622 259.2);
      --blue-track: oklch(57.2% 0.0622 259.2);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfe;
  --gray-2: #f8f9fd;
  --gray-3: #eef0f6;
  --gray-4: #e6e8f0;
  --gray-5: #dde1eb;
  --gray-6: #d5d9e5;
  --gray-7: #cacedd;
  --gray-8: #b5bbcf;
  --gray-9: #888da0;
  --gray-10: #7e8394;
  --gray-11: #606473;
  --gray-12: #1d202a;

  --gray-a1: #0000aa03;
  --gray-a2: #0025b707;
  --gray-a3: #001e7811;
  --gray-a4: #00156619;
  --gray-a5: #001e6922;
  --gray-a6: #0019622a;
  --gray-a7: #00145c35;
  --gray-a8: #01155a4a;
  --gray-a9: #000b3477;
  --gray-a10: #000a2c81;
  --gray-a11: #00071f9f;
  --gray-a12: #00030fe2;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #888da0;
  --gray-track: #888da0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.2% 0.0027 273.2);
      --gray-2: oklch(98.3% 0.0049 273.2);
      --gray-3: oklch(95.6% 0.0088 273.2);
      --gray-4: oklch(93.2% 0.0116 273.2);
      --gray-5: oklch(90.9% 0.015 273.2);
      --gray-6: oklch(88.6% 0.0172 273.2);
      --gray-7: oklch(85.4% 0.0212 273.2);
      --gray-8: oklch(79.4% 0.0287 273.2);
      --gray-9: oklch(64.6% 0.0289 273.2);
      --gray-10: oklch(61.1% 0.0275 273.2);
      --gray-11: oklch(50.5% 0.0238 273.2);
      --gray-12: oklch(24.5% 0.0199 273.2);

      --gray-a1: color(display-p3 0.0235 0.0235 0.6745 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.1608 0.7216 / 0.028);
      --gray-a3: color(display-p3 0.0078 0.1255 0.4157 / 0.067);
      --gray-a4: color(display-p3 0.0118 0.0902 0.3686 / 0.099);
      --gray-a5: color(display-p3 0.0078 0.098 0.3686 / 0.13);
      --gray-a6: color(display-p3 0.0039 0.0745 0.3451 / 0.161);
      --gray-a7: color(display-p3 0.0039 0.0588 0.3294 / 0.204);
      --gray-a8: color(display-p3 0.0039 0.0745 0.3176 / 0.287);
      --gray-a9: color(display-p3 0.0039 0.0353 0.1804 / 0.463);
      --gray-a10: color(display-p3 0 0.0314 0.1569 / 0.502);
      --gray-a11: color(display-p3 0 0.0196 0.1098 / 0.62);
      --gray-a12: color(display-p3 0 0.0078 0.051 / 0.883);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0289 273.2);
      --gray-track: oklch(64.6% 0.0289 273.2);
    }
  }
}

.dark,
.dark-theme {
  --blue-1: #0c1119;
  --blue-2: #131924;
  --blue-3: #19273c;
  --blue-4: #213351;
  --blue-5: #2a4062;
  --blue-6: #354e75;
  --blue-7: #425e8b;
  --blue-8: #5071a6;
  --blue-9: #9cbef4;
  --blue-10: #95b4e5;
  --blue-11: #9dbced;
  --blue-12: #d9e9ff;

  --blue-a1: #0012f409;
  --blue-a2: #2a73f815;
  --blue-a3: #3d89fb2f;
  --blue-a4: #4d8ffe45;
  --blue-a5: #5b9bff57;
  --blue-a6: #66a1fd6c;
  --blue-a7: #71a7ff83;
  --blue-a8: #76aaffa0;
  --blue-a9: #a2c6fef4;
  --blue-a10: #a4c7fee4;
  --blue-a11: #a9caffec;
  --blue-a12: #d9e9ff;

  --blue-contrast: #162235;
  --blue-surface: #15213780;
  --blue-indicator: #9cbef4;
  --blue-track: #9cbef4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --blue-1: oklch(17.8% 0.019 259.4);
      --blue-2: oklch(21.3% 0.023 259.4);
      --blue-3: oklch(27% 0.0449 259.4);
      --blue-4: oklch(32.1% 0.0583 259.4);
      --blue-5: oklch(37% 0.0659 259.4);
      --blue-6: oklch(42.2% 0.0718 259.4);
      --blue-7: oklch(48% 0.0796 259.4);
      --blue-8: oklch(54.6% 0.0919 259.4);
      --blue-9: oklch(79.7% 0.0848 259.4);
      --blue-10: oklch(76.4% 0.0784 259.4);
      --blue-11: oklch(78.9% 0.0784 259.4);
      --blue-12: oklch(92.9% 0.0377 259.4);

      --blue-a1: color(display-p3 0 0.0706 0.9843 / 0.03);
      --blue-a2: color(display-p3 0.2235 0.4824 0.9961 / 0.076);
      --blue-a3: color(display-p3 0.3176 0.5686 0.9961 / 0.173);
      --blue-a4: color(display-p3 0.3647 0.5765 0.9961 / 0.261);
      --blue-a5: color(display-p3 0.4275 0.6196 1 / 0.328);
      --blue-a6: color(display-p3 0.4627 0.6471 1 / 0.408);
      --blue-a7: color(display-p3 0.502 0.6667 1 / 0.496);
      --blue-a8: color(display-p3 0.5137 0.6745 0.9961 / 0.61);
      --blue-a9: color(display-p3 0.6824 0.7922 1 / 0.933);
      --blue-a10: color(display-p3 0.6863 0.7961 1 / 0.874);
      --blue-a11: color(display-p3 0.6941 0.8 0.9961 / 0.908);
      --blue-a12: color(display-p3 0.8706 0.9176 1 / 0.992);

      --blue-contrast: #162235;
      --blue-surface: color(display-p3 0.0863 0.1255 0.2039 / 0.5);
      --blue-indicator: oklch(79.7% 0.0848 259.4);
      --blue-track: oklch(79.7% 0.0848 259.4);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #101115;
  --gray-2: #18191e;
  --gray-3: #212229;
  --gray-4: #272933;
  --gray-5: #2e313c;
  --gray-6: #363a46;
  --gray-7: #434757;
  --gray-8: #5b6072;
  --gray-9: #696e81;
  --gray-10: #767b8e;
  --gray-11: #aeb3c8;
  --gray-12: #edeef2;

  --gray-a1: #0012de05;
  --gray-a2: #91a3fe0e;
  --gray-a3: #aeb8fd1a;
  --gray-a4: #a8b6fb25;
  --gray-a5: #afbffb2f;
  --gray-a6: #b7c9ff39;
  --gray-a7: #bbc9ff4b;
  --gray-a8: #c7d3ff68;
  --gray-a9: #ccd7ff78;
  --gray-a10: #d2dbff86;
  --gray-a11: #dce3fec5;
  --gray-a12: #f9fafef2;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #696e81;
  --gray-track: #696e81;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(17.8% 0.0097 273.2);
      --gray-2: oklch(21.5% 0.0092 273.2);
      --gray-3: oklch(25.5% 0.0125 273.2);
      --gray-4: oklch(28.4% 0.0169 273.2);
      --gray-5: oklch(31.4% 0.0199 273.2);
      --gray-6: oklch(35% 0.0225 273.2);
      --gray-7: oklch(40.1% 0.0272 273.2);
      --gray-8: oklch(49.2% 0.0299 273.2);
      --gray-9: oklch(54% 0.0299 273.2);
      --gray-10: oklch(58.6% 0.0299 273.2);
      --gray-11: oklch(77% 0.0299 273.2);
      --gray-12: oklch(94.9% 0.006 273.2);

      --gray-a1: color(display-p3 0 0.0706 0.9922 / 0.017);
      --gray-a2: color(display-p3 0.5686 0.6392 0.9961 / 0.055);
      --gray-a3: color(display-p3 0.7137 0.7569 1 / 0.097);
      --gray-a4: color(display-p3 0.6902 0.7451 1 / 0.139);
      --gray-a5: color(display-p3 0.7333 0.7765 1 / 0.177);
      --gray-a6: color(display-p3 0.749 0.8039 1 / 0.219);
      --gray-a7: color(display-p3 0.7569 0.8 1 / 0.29);
      --gray-a8: color(display-p3 0.8039 0.8431 1 / 0.4);
      --gray-a9: color(display-p3 0.8235 0.8549 1 / 0.463);
      --gray-a10: color(display-p3 0.8431 0.8745 1 / 0.517);
      --gray-a11: color(display-p3 0.8824 0.902 1 / 0.761);
      --gray-a12: color(display-p3 0.9765 0.9843 1 / 0.946);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0299 273.2);
      --gray-track: oklch(54% 0.0299 273.2);
    }
  }
}
